:root{ 
  --bg-blue: #6CA0EB;  
  --bg-main: #418EFD;  
  --bg-red: #DC3545;  
  --bg-grey: #697A8D;
  --bg-green: #59BA6F; 
  --bg-orange: #FF7C03; 
  --bg-black: #000000; 
  --bg-yellow: #FFC531; 
  --bg-pink: #FD5181; 
  --bg-clear: #CC2D2D; 
  --bg-primary-hover: #0019FE;  
  --bg-danger: #F12300;
  --bg-success: #43C000; 
  --bg-warning: #FFAB00;
  --bg-brown: #946300;
  --bg-sky: #BDD6FA;
  --bg-emerald: #07A7A7;
  --bg-purple: #9A89FF;
  --bg-primary2: #0029FF;
  --bg-black2: #312F2F;
  --bg-black3: #1C1B1F;
  --bg-text2: #435971;
  --bg-grey2: #828282;
  --bg-brown2: #737373; 
  --bg-body: #EBEBEB; 
  --bg-white: #ffffff; 
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Prompt', sans-serif; 
  background-color: var(--bg-body); 
}    
.menu{
  position: absolute;
  padding: 20px 10px 40px;  
  width: 360px; 
  background: #FFFFFF; 
  height: auto;
  z-index: 333;
}
.menu .logo{
  padding: 10px;  
  height: 60.61px; 
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
}
.menu .logo img{
  width: 140px; 
} 
body.expand .menu{
  width: 144px; 
}
body .menu .logo-expand{
  display: none;
}
body.expand .menu .logo{
  display: none;
}
body.expand .menu .logo-expand{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body.expand .menu .logo-expand{
  padding: 10px;  
  width: 60px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
}
body.expand .menu h3{
  text-align: center;
}
body.expand .menu ul li i{
  display: none;
}
body.expand .menu ul li{
  height: 44px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44px;
  height: 44px;
}
body.expand .menu ul li a{
  width: 44px;
  height: 44px;
  padding: 10px;
}
body.expand .menu ul li div{
  width: 44px;
  height: 44px;
  padding: 10px;
}
body.expand .menu ul li a span {  
  left: unset;
  top: unset;
}
body.expand .menu .sub ul{  
  display: none;
}
.menu h3{ 
  padding: 10px;  
  height: 50px; 
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
  color: var(--bg-brown2); 
  margin-bottom: 10px;
} 
.menu ul{
  padding-left: 0px;
  list-style: none; 
}
.menu ul li{ 
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px; 
  position: relative;
}
.menu ul li a{
  display: block;
  width: 100%;
  padding: 12px 10px 10px 44px;  
  background: #FFFFFF;
  border: 1px solid #E4E8EB;
  border-radius: 10px;
  color: var(--bg-black);
  transition: .33s all ease-out; 
}
.menu ul li div{
  display: block;
  width: 100%;
  padding: 12px 10px 10px 44px;  
  background: #FFFFFF;
  border: 1px solid #E4E8EB;
  border-radius: 10px;
  color: var(--bg-black);
  transition: .33s all ease-out; 
  height: 50px; 
  cursor: pointer;
}
.menu ul li a:hover{
  color: var(--bg-b);
  background-color: var(--bg-main);
}
.menu ul li.active a{ 
  color: var(--bg-white);
  background-color: var(--bg-main);
}
.menu ul li div:hover{
  color: var(--bg-b);
  background-color: var(--bg-main);
}
.menu ul li a i{ 
  font-style: normal;
}
.menu ul li div i{ 
  font-style: normal;
}
.menu ul li a span{ 
  font-size: 24px;
  color: var(--bg-black3);
  position: absolute;
  left: 13px;
  top: 12px;
}
.menu ul li div span{ 
  font-size: 24px;
  color: var(--bg-black3);
  position: absolute;
  left: 13px;
  top: 12px;
}
.menu ul li.active a span{  
  color: var(--bg-white);
}
.menu ul li:hover a{  
  color: var(--bg-white);
}
.menu ul li a:hover span{  
  color: var(--bg-white);
}  
.menu ul li:hover div{  
  color: var(--bg-white);
}
.menu ul li div:hover span{  
  color: var(--bg-white);
}
.menu ul li.sub.active{  
  height: unset;
  background-color: var(--bg-main);
  border-radius: 10px; 
}
.menu ul li.sub.active{  
  height: unset;
  background-color: var(--bg-main);
  border-radius: 10px; 
}
.menu ul li.sub.active div{   
  background-color: var(--bg-main); 
  color: var(--bg-white);
  border: none;
}
.menu ul li.sub.active div span{    
  color: var(--bg-white);
}
.menu ul li.sub.active ul{   
  padding: 0px 10px 10px; 
}
.menu ul li.sub.active ul li{   
  margin-top: 7px;
  margin-bottom: 7px;
  height: 35px;
}
.menu ul li.sub.active ul a{   
  padding-left: 64px;
  padding: 5px 30px;
  border: none; 
}
.menu ul li.sub.active ul li.active a{   
  background: var(--bg-sky);
  border-radius: 0px;
}
.menu ul li.sub.active ul li:hover a{   
  background: var(--bg-sky); 
  border-radius: 0px;
} 
main{
  padding: 90px 20px 20px 380px;
}
.nav-top{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  padding-left: 355px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(43, 45, 55, 0.0105441);
  z-index: 2;
}
.nav-top .container-fluid{
  padding: 9px 30px;
}
.nav-top ul.mt{
  padding-left: 0px;
  list-style: none;
}
.nav-top ul.mt li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 52px;
  padding: 16px 0px;
  transition: .33s all ease-out; 
}
.nav-top ul.mt li a{
  color: #74798C;  
}
.nav-top ul.mt li.meli{
  width: 35px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.nav-top ul.mt li.meli img{
  width: 15px;
  height: 11px; 
  cursor: pointer;
}
.nav-top ul.mt li:hover a{
  color: var(--bg-black);  
} 
body.expand main{
  padding: 90px 20px 20px 164px;
}
body.expand .nav-top{ 
  padding-left: 145px; 
}
.nav-top .user-il{
  padding-left: 0px;
  list-style: none;
}
.nav-top .user-il li{
  display: inline-block;
}
.nav-top .user-il li .img-name{
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.nav-top .user-il li .user-name{
  font-weight: 400;
  font-size: 14px;
  line-height: 52px; 
  color: #74798C;
}
.nav-top .user-il li .alarm{ 
  font-size: 16px; 
  color: #A0A5BA; 
  position: relative;
  top: 10px;
}

 

/* 
transition: .33s all ease-out; 
font-family: 'Sarabun', sans-serif; 
body.expand
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
  .menu{
    display: none;
  } 
  .menu{
    display: none;
  } 
  body main{
    padding: 90px 15px;
  }
  body .nav-top{
    padding-left: 0px;
    height: 63px;
  }
  .nav-top .container-fluid {
    padding: 5px; 
  }
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  